# --- TRACKER CORE ---
TRACKER_BASE_URL=https://nobs.rawsmoke.net
TRACKER_ABBREV=NOBS
TRACKER_USERNAME=TuUsuario
TRACKER_COOKIE_NAME=nuclear_order_bit_syndicate_session
TRACKER_COOKIE_VALUE=
CUSTOM_USER_AGENT=undici
IMGBB_API_KEY=
PTSCREENS_API_KEY=

# --- MASS EDITION / UNIT3D ORCHESTRATOR ---
ME_TRACKER_URL=https://nobs.rawsmoke.net
ME_TRACKER_DEFAULT=NOBS
ME_TRACKER_USERNAME=TuUsuario
ME_TRACKER_COOKIE_NAME=nuclear_order_bit_syndicate_session
ME_TRACKER_COOKIE=
ME_TRACKER_API_KEY=
ME_CUSTOM_USER_AGENT=Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
ME_IMGBB_API=
ME_PTSCREENS_API=
ME_TMP_ROOT=/app/RawLoadrr/tmp

# --- RUTAS (INTERNAS AL CONTENEDOR) ---
TMP_ROOT=/app/RawLoadrr/tmp
TMP_PATH=/app/RawLoadrr/tmp
QBIT_BACKUP_DIR=${HOME}/Qbit_Docker/config/qBittorrent/BT_backup

# --- GESTIÓN DE IDS ---
ID_START=14
ID_END=2000
ID_FILENAME=ids.txt

# --- SERVICIOS EXTERNOS ---
SONARR_URL=http://127.0.0.1:8989
SONARR_API_KEY=TU_API_KEY_AQUI
RADARR_URL=http://127.0.0.1:7878
RADARR_API_KEY=TU_API_KEY_AQUI

# --- MULTIMEDIA (MKVerything) ---
TMDB_API_KEY=TU_API_KEY_AQUI
GOOGLE_BOOKS_API_KEY=TU_API_KEY_AQUI
TWITCH_CLIENT_ID=TU_CLIENT_ID_AQUI
TWITCH_CLIENT_SECRET=TU_SECRET_AQUI
TVDB_API_KEY=TU_API_KEY_AQUI
