# --- TRACKER CORE ---
TRACKER_BASE_URL=https://milnueve.neklair.es
TRACKER_COOKIE_VALUE=TU_COOKIE_AQUI
IMGBB_API_KEY=TU_API_KEY_AQUI
PTSCREENS_API_KEY=TU_API_KEY_AQUI

# --- RUTAS (INTERNAS AL CONTENEDOR) ---
TMP_ROOT=/app/tmp
QBIT_BACKUP_DIR=/app/temp/qbit_backup

# --- GESTIÓN DE IDS ---
ID_START=14
ID_END=2000
ID_FILENAME=ids.txt

# --- SERVICIOS EXTERNOS ---
SONARR_URL=http://127.0.0.1:8989
SONARR_API_KEY=TU_API_KEY_AQUI
RADARR_URL=http://127.0.0.1:7878
RADARR_API_KEY=TU_API_KEY_AQUI

# --- MULTIMEDIA (MKVerything) ---
TMDB_API_KEY=TU_API_KEY_AQUI
TVDB_API_KEY=TU_API_KEY_AQUI
