# TMDB (The Movie Database) - Recomendado para Cine y Series generales
TMDB_API_KEY=TU_API_KEY_AQUI

# TVDB (The TV Database) - Ideal para Anime y orden de episodios complejo
TVDB_API_KEY=TU_API_KEY_AQUI

# Otros Secretos
TRACKER_BASE_URL=https://tu-tracker.com
TRACKER_COOKIE_VALUE=TU_COOKIE_AQUI
IMGBB_API_KEY=TU_API_KEY_AQUI
PTSCREENS_API_KEY=TU_API_KEY_AQUI
